.App {
    text-align: center;
    background-color: aqua;
    background-image: url("http://mars.jpl.nasa.gov/msl-raw-images/msss/01000/mcam/1000MR0044631190503679E04_DXXX.jpg");
    margin: 0 auto;
    padding: 0.5rem 0;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.daily_photo img {
    height: 30rem;
    border-radius: 10%;
}

.daily_photo {
    width: 50%;
    margin: 0 auto;
    background-color: #282c34;
    padding: 2rem;
    border-radius: 1rem;
}

.daily_photo .description {
    text-align: justify;
}